<div class="container w2g">
    <div class="row header mb-3">
        <div class="col-md-4 left">
            <h1>Our nice Title</h1>
        </div>
        <div class="col-md-8 left">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
            </form>
        </div>
    </div>
    <!-- maybe use navs or navbar instead of the button group and the search bar on top -->
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary">Add</button>
        </div>
        <div class="col-md-8">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">To go</button>
                <button type="button" class="btn btn-secondary">Done</button>
                <button type="button" class="btn btn-secondary">Statistics</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <selector></selector>
        </div>
        <div class="col-md-8">
            <list></list>
        </div>
    </div>
</div>


<router-outlet></router-outlet>